# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django static files
staticfiles/
static/
media/

# Django migrations
**/migrations/*.py
**/migrations/*.pyc

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
*.env

# Other
!.gitignore
*.swp
*.swo
*~
*.bak
*.orig
*.tmp
*.dist-info/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.pdm.toml
.pdm.lock
