{% load static  %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
<body>
    <div class="wrapper">
        <h1 class="banner"><a href="{% url 'articles:list' %}"><img class= "banner" src="{% static 'DC_Characters.webp'%}" alt=""></a></h1>
        {% block content %}

        {% endblock  %}

    </div>
</body>
</html>